---
import Navigation from '../components/Navigation.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
const pageTitle = "Home"
const base = '/'
---

<Header />
  <body>

    <Navigation />
    <h1>{base}{pageTitle}</h1>
    <h2>My Astro Site</h2>
    <Footer />

  </body>
</html>